<a href="https://colab.research.google.com/github/anamikamanoj548/ICT_Assignment/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
item1price = 45
item1quantity = 3
item2price = 30
item2quantity = 2
total = item1price * item1quantity + item2price * item2quantity
print('total bill :',total)

total bill : 195

In [7]:
entertemperatureincelsius = 30
C = 30
F = (C *9/5)+32
print('temperature in fahrenheit :',F)

temperature in fahrenheit : 86.0

In [14]:
enterbasicsalary = 20000
total = enterbasicsalary + enterbasicsalary * 20/100 + enterbasicsalary * 10/100
print('net salary :',total)

net salary : 26000.0

In [22]:
'''Principal : 10000
Rateofinterest : 5
Time (in years) : 2'''
P = 10000
R = 5
T = 2
SI = (P * R * T)/100
print('simple interest',SI)

simple interest 1000.0

In [42]:
'''enter total minutes : 130'''
total_minutes = 130
hours = total_minutes // 60
minutes = total_minutes % 60
print(hours,'hours and',minutes,'Minutes')

2 hours and 10 Minutes

In [27]:
# BMI = weight(kg) / (height(m) * height(m))
weight = 60
height = 1.65
BMI = weight / (height * height)
print('BMI :',BMI)

BMI : 22.03856749311295

In [28]:
# orginal price : 1200
price = 1200
discount = price - price * 10/100
print('Discount price :',discount)

Discount price : 1080.0

In [34]:
'''5 = (a+b+c) / 2
Area = sqrt(s * (s -a)(s -b)(s -c))'''
a = 5
b = 6
c = 7
s = (a+b+c)/2
import math
area =math.sqrt (s*(s-a)*(s-b)*(s-c))
print('Area of the triangle',area)

Area of the triangle 14.696938456699069

In [37]:
'''wall length : 12
wall height : 8'''
area = (12 * 8) - (2* (1.5 * 1.2))
cost = area * 25
print('Total area of painted :',area)
print('Total painting:',cost)

Total area of painted : 92.4
Total painting: 2310.0

In [39]:
'''enter number of unit consumed : 250'''
units = 250
bill = (units *5.2) + 100
print('Electricity bill :',bill)

Electricity bill : 1400.0